:root {
  --color-gold: #bdae82;
  --color-black: #000000;
  --color-white: #ffffff;
  --font1: 20px;
  --font2: 40px;
  --font3: 60px;
  --fontstyle1: Inter, sans-serif;
  --fontstyle2: Merriweather, serif;
}

@font-face {
  font-family: Inter;
  src: url("assets/fonts/Inter-VariableFont.ttf");
}
@font-face {
  font-family: Merriweather;
  src: url("assets/fonts/Merriweather.ttf");
}
* {
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
  background-color: var(--color-black); 
}
body {
  margin: 0;
  padding: 0;
}
h2 {
  margin: 0;
  padding: 0;
}
.container {
    width: 1440px;
    margin: 0 auto;
}
.nav {
  margin-left: 780px;
}
.nav-list {
  display: flex;
  padding-left: 30px; 
  font-family: var(--fontstyle1);
  font-size: var(--font1);
  line-height: 50px;
  list-style: none;
}
.nav-link {
  padding: 0 20px;
  line-height: 50px;
  transition: .5s;
}
.nav-item {
  margin-right: 31px;
}
.nav-item > a {
  padding: 0;
  color: var(--color-white);
  text-decoration: none;  
  transition: color 0.5s;
}
.nav-item > a:hover {
  color: var(--color-gold);
}
.header-container {
  background: url('./assets/img/header-bg.jpg');
  background-repeat: no-repeat;
  background-position: center 0;
}
.logo {
  margin-top: 20px;
  margin-left: 20px;
  width: 50px;
  height: 50px; 
  transition: 0.5s;
}
.logo:hover {
  cursor: pointer;
  filter: invert(26%) sepia(15%) saturate(638%) hue-rotate(7deg) brightness(92%)
    contrast(87%);
  transition: .5s;
}
.switch-lng {
  /* display: flex; */
  margin-right: px;
  width: 70px;
  height: 50px;
  
  margin-top: 18px;
  color: var(--color-white);
  font-family: var(--fontstyle1);
  font-size: var(--font1);
}
.en, .ru {
  margin: 0;
  padding: 0;
  border: none;
  background: inherit;
  font-family: var(--fontstyle1);
  font-size: var(--font1);
  line-height: 50px;
}
.en {
  width: 25px;
  color: var(--color-gold);
}
.ru {
  width: 22px;
  color: var(--color-white);
}
.t-line {
  margin-left: 7px;
  margin-right: 7px;
}
.t-en {
  margin-left: -2px;
}

.header {
  display: flex;
}
.hero {
  background-image: url('./assets/img/header-bg.jpg');
  background-position: center -90px;
  background-repeat: no-repeat;
  padding-top: 160px;
  padding-left: 80px;
  padding-right: 860px;
  padding-bottom: 330px;
}
.hero-title {
  margin: 0;
  margin-bottom: -10px;
  padding: 0;
  font-family: var(--fontstyle2);
  font-size: var(--font3);
  line-height: 120px;
  color: var(--color-white);
}
.hero-text {
  margin-bottom: 25px;
  font-family: var(--fontstyle1);
  width: 470px;
  font-size: var(--font1);
  line-height: 40px;
  color: var(--color-white);
}
.hero-btn {
  width: 220px;
  height: 55px;
  border: none;
  background-color: var(--color-gold);
  font-family: var(--fontstyle1);
  font-size: var(--font1);
  line-height: 40px;
  color: var(--color-black);
  cursor: pointer
}
.skills {
  padding-top: 100px;
  padding-bottom: 2px;
  background-color: var(--color-black);
}
.s-title {
  margin: 0 auto;
  width: 48.6%;
  background-image: linear-gradient(to top, var(--color-black) 39px, var(--color-gold) 39px, var(--color-gold) 41px, var(--color-black) 41px);
}
.section-title {
  margin: 0 auto;
  font-family: var(--fontstyle2);
  font-weight: 700;
  font-size: var(--font2);
  line-height: 80px;
  text-align: center;
  color: var(--color-gold);
  background-color: var(--color-black);
}
.skills-t {
  width: 152px;
}
.skills-items {
  display: flex;
  justify-content: space-around;  
  flex-wrap: wrap;
}
.skill-item {
  margin-top: 60px;
  width: 320px;
  height: 240px;
  background-position: center top;
  color: var(--color-white);

}
.item-title {
  margin-top: 100px;
  font-family: var(--fontstyle1);
  font-style: normal;
  font-weight: 700;
  font-size: 21px;
  line-height: 40px;
  text-align: center;
}
.item-text {
  margin: 0 auto;
  width: 280px;
  font-family: var(--fontstyle1);
  font-weight: 400;
  font-size: 18px;
  line-height: 36px;
  text-align: center;
}
.skill-item:nth-child(1) {
  background-image: url('./assets/svg/camera.svg');
  background-repeat: no-repeat;
  background-size: 62px 50px;
}
.skill-item:nth-child(2) {
  background-image: url('./assets/svg/video.svg');
  background-repeat: no-repeat;
  background-size: 60px 50px;
}
.skill-item:nth-child(3) {
  background-image: url('./assets/svg/image.svg');
  background-repeat: no-repeat;
  background-size: 66px 50px;
}
.skill-item:nth-child(4) {
  background-image: url('./assets/svg/mic.svg');
  background-repeat: no-repeat;
  background-size: 32px 50px;
}
.portfolio {
  padding-top: 100px;
  background-color: var(--color-black);
}
.portfolio-t {
  padding-right: 3px;
  width: 220px;
}
.portfolio-btns {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 5px;
  padding-right: 2px;
  padding-bottom: 60px;
}
.seasons {
  margin-top: 60px;
  width: 220px;
  height: 55px;
  border: none;
  font-family: var(--fontstyle1);
  font-weight: 400;
  font-size: var(--font1);
  line-height: 40px;
  text-align: center;
}
.winter-btn {
  color: var(--color-gold);
  background-color: inherit;
  border: 2px solid var(--color-gold);
}
.spring-btn {
  color: var(--color-gold);
  background-color: inherit;
  border: 2px solid var(--color-gold);
}
.summer-btn {
  color: var(--color-gold);
  background-color: inherit;
  border: 2px solid var(--color-gold);
}
.autumn-btn {
  color: var(--color-black);
  background-color: var(--color-gold);
}
.portfolio-img {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 25px;
  margin: 0 auto;
  height: 1145px;
}
.p-img {
  margin: 0;
  padding: 0;
}

.photo {
  margin-top: -4px;
}
.video {
  padding-top: 100px;
  height: 945px;
  background-color: var(--color-black);
}
.video-t {
  width: 154px;
}
.video-player {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 44px;
}
.play-btn {
  position: absolute;
  bottom: 307px;
  border: none;
  background-color: inherit;
  background-image: url('./assets/svg/play.svg');
  background-repeat: no-repeat;
  background-size: 130px 130px;
  width: 130px;
  height: 130px;
}
.play-btn:hover {
  cursor: pointer;
  filter: invert(26%) sepia(15%) saturate(638%) hue-rotate(7deg) brightness(92%)
    contrast(87%);
    transition: .5s;
}
.price {
  padding: 100px 0;
  background-color: var(--color-black);
}
.price-t {
  width: 142px;
}
.block {
  display: block;
}
.prices-items {
  display: flex;
  justify-content: center;
  gap: 25px;
  margin-top: 60px;
}
.price-item {
  width: 450px;
  height: 505px;
  border: 3px solid var(--color-gold);
}
.p-item-title {
  margin-top: 40px;
  height: 56px;
  font-family: var(--fontstyle2);
  font-weight: 700;
  font-size: 28px;
  line-height: 56px;
  text-align: center;
  color: var(--color-white);
}
.p-sum {
  margin-top: -7px;
  font-family: var(--fontstyle2);
  font-weight: 700;
  font-size: 24px;
  line-height: 48px;
  text-align: center;
  color: var(--color-gold);
}
.p-item-text {
  margin-top: -4px;
  font-family: var(--fontstyle1);
  font-weight: 400;
  font-size: 18px;
  line-height: 36px;
  text-align: center;
  color: var(--color-white);
}
.p-item-btn {
  width: 220px;
  height: 55px;
  margin-top: 21px;
  margin-left: 112px;
  border: none;
  background-color: var(--color-gold);
  font-family: var(--fontstyle1);
  font-weight: 400;
  font-size: var(--font1);
  line-height: 40px;
  text-align: center;
  color: var(--color-black);
}
.btns-hover:hover {
  cursor: pointer;
  color: var(--color-white);
  transition: .5s;
}
.contacts {
  height: 700px;
  background-image: url('./assets/img/contacts.jpg');
  background-repeat: no-repeat;
}
.contacts-title {
  font-family: var(--fontstyle2);
  font-weight: 700;
  font-size: var(--font2);
  line-height: 80px;
  color: var(--color-gold);
}
.contact-container {
  width: 450px;
  height: 445px;
  padding-top: 60px;
  margin-left: 970px;
}
.mail, .tel, .textarea {
  border: 2px solid var(--color-gold);
  background: transparent;
}
.mail {
  margin-top: 40px;
  padding-left: 17px;
  width: 450px;
  height: 50px;
  font-family: var(--fontstyle1);
  font-weight: 400;
  color: var(--color-gold);
  font-size: var(--font1);
  line-height: 40px;
}
.tel {
  margin-top: 20px;
  padding-left: 17px;
  width: 450px;
  height: 50px;
  font-family: var(--fontstyle1);
  font-weight: 400;
  color: var(--color-gold);
  font-size: var(--font1);
  line-height: 40px;
}
.textarea {
  margin-top: 20px;
  padding-left: 17px;
  width: 450px;
  height: 100px;
  resize: none;
  font-family: var(--fontstyle1);
  font-weight: 400;
  color: var(--color-gold);
  font-size: var(--font1);
  line-height: 40px;
}
.mail::placeholder {
  font-family: var(--fontstyle1);
  font-weight: 400;
  color: var(--color-gold);
  font-size: var(--font1);
  line-height: 40px;
}
.tel::placeholder {
  font-family: var(--fontstyle1);
  font-weight: 400;
  color: var(--color-gold);
  font-size: var(--font1);
  line-height: 40px;
}
.textarea::placeholder {
  font-family: var(--fontstyle1);
  font-weight: 400;
  color: var(--color-gold);
  font-size: var(--font1);
  line-height: 40px;
}
.c-item-btn {
  width: 220px;
  height: 55px;
  margin-top: 26px;
  border: none;
  background-color: var(--color-gold);
  font-family: var(--fontstyle1);
  font-weight: 400;
  font-size: var(--font1);
  line-height: 40px;
  text-align: center;
  color: var(--color-black);
}
.footer-container {
  width: 1440px;
  height: 150px;
  background-color: var(--color-black);
}
.footer {
  display: flex;
  justify-content: space-between;
  padding: 50px 20px 50px 20px;
  color: var(--color-white);
  font-family: var(--fontstyle1);
  font-weight: 400;
  font-size: var(--font1);
  line-height: 50px;
}
.footer-link {
  padding: 0;
  color: var(--color-white);
  text-decoration: none;  
  transition: color 0.5s;
}
.footer-link:hover {
  color: var(--color-gold);
}
.footer-info {
  display: flex;
  gap: 20px;
  width: 182px;
  height: 50px;
}
.data {
  margin: 0;
  padding: 0;
}
.school {
  margin: 0;
  margin-left: 45px;
}
.footer-social {
  display: flex;
  justify-content: space-between;
  list-style: none;
  gap: 20px;
  margin: 0;
  margin-right: 40px;
  padding-top: 10px;
  width: 188px;
  height: 50px;
}
.social{
  width: 32px;
  height: 32px;
  margin: auto 0;
}
.social:hover {
  cursor: pointer;
  filter: invert(26%) sepia(15%) saturate(638%) hue-rotate(7deg) brightness(92%)
    contrast(87%);
  transition: .5s;
}
